/*@font-face {
  font-family: 'Avenir';
  src: url('../www/font/AvenirLTPro-Roman.ttf')  format('truetype')
}

@font-face {
  font-family: 'Calvert';
  src: url('../www/font/calvert.ttf')  format('truetype')
}*/