<!-- Fonts -->
{{ JS.push('js/lib/webfont.js') }}
{{ JS.render('js/webfont.min.js') }}
<script>
  WebFont.load({
    google: {
      families: ['Lato']
    }
  });
</script>
<!-- 
<script>
  WebFont.load({
    custom: {
      families: ['Avenir']
    }
  });
</script>

<script>
  WebFont.load({
    custom: {
      families: ['Calvert']
    }
  });
</script>

<style type="text/css">
  @font-face {
    font-family:"Avenir";
    src: url('../www/font/AvenirLTPro-Roman.ttf')  format('truetype');
  }
</style>

<style type="text/css">
  @font-face {
    font-family:"Calvert";
    src: url('../www/font/calvert.ttf')  format('truetype');
  }
</style> -->

